<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline chương trình</h2>
                    <h3 class="section-subheading text-muted" style="font-size:120%;">Thời gian diễn ra từng giai đoạn của cuộc thi.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image wow slideInLeft">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18/09 – Hết ngày 16/10</h4>
                                    <h4 class="subheading">Nhận đơn đăng ký</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-size:110%;"><b>Cách thức:</b> Các nhóm đăng ký thông qua link đăng ký của chương trình.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image wow slideInRight">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17/10 - 19/10</h4>
                                    <h4 class="subheading">Tổng hợp và thông báo các đội vào vòng trong</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-size:110%;"><b>Nội dung:</b> Chọn ra các nhóm xuất sắc nhất để hoàn thiện sản phẩm.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image wow slideInLeft">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>19/10 - hết ngày 22/11</h4>
                                    <h4 class="subheading">Hoàn thiện và nộp sản phẩm</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-size:110%;"><b>Nội dung:</b> Các nhóm hoàn thiện sản phẩm cùng với sự giúp đỡ đến từ chương trình.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image wow slideInRight">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23/11 - 29/11</h4>
                                    <h4 class="subheading">Chấm thi và chọn ra 4 đội vào chung kết</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="font-size:110%;"><b>Nội dung:</b> Chọn ra các nhóm có sản phẩm xuất sắc nhất vào đêm chung kết.</p>
                                    <p class="text-muted" style="font-size:110%;"><b>Mục tiêu:</b> 4 nhóm</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image wow slideInLeft">
                                <h4>Đêm chung
                                    <br>Kết
                                    <br>6/12/2016</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <img src="img/features.png" alt="">
        </div>
    </section>