<footer id="footer">
    <div class="container">
        <div class="col-md-3 company-details">
            <div class="icon-top">
                <img alt="" src="img/footer/map.png"/>
            </div>
            <div>
                <a href="https://goo.gl/maps/XiBKT8Fek7T2">
                  ĐH FPT, Khu Công nghệ cao Hòa Lạc, Km29 Đại lộ Thăng Long, huyện Thạch Thất, TP. Hà Nội.
                </a>
            </div>
        </div>
        <div class="col-md-3 company-details">
            <div class="icon-top">
                <img alt="" src="img/footer/email.png"/>
            </div>
            <div>
                <a href="mailto:cdi2016.fpt@gmail.com">
                    cdi2016.fpt@gmail.com
                </a>
            </div>
        </div>
        <div class="col-md-3 company-details">
            <div class="icon-top">
                <img alt="" src="img/footer/phone.png"/>
            </div>
            <div>
                <a href="tel:0122-423-1996">
                    0122-423-1996
                </a>
            </div>
        </div>
        <div class="col-md-3 company-details">
            <div class="icon-top">
                <img alt="" src="img/footer/facebook.png"/>
            </div>
            <div>
                <a href="https://www.facebook.com/CodingInspiration">
                    fb.com/CodingInspiration
                </a>
            </div>
        </div>
    </div>
    <!-- / END CONTAINER -->
</footer>
<!-- / END FOOOTER  -->
