<!-- About Section -->
<section id="about">
    <div class="container">
        <center>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ban tổ chức</h2>
                    <br>
                    <p style="font-size:200%;">Đơn vị tổ chức chính</p>
                    <br>
                </div>
            </div>

            <div class="timeline-image hover13">
                <a href="https://www.facebook.com/fu.jsclub/?fref=ts">
                    <img class="img-responsive" width="200" height="200" src="img/sponsor/host.png" alt="">
                </a>
                
            </div>
            
            <br><br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nhà tài trợ</h2>
                    <br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="http://www.3si.vn/" class="hover14">
                            <img src="img/logos/3S.png" class="img-responsive img-centered" alt="" width="120">
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="http://techkids.vn/">
                            <img src="img/logos/Techkids.png" class="img-responsive img-centered" width="300" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="http://rikkeisoft.com/">
                            <img src="img/logos/rikkei.png" width="200"class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 text-center">
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="http://sotatek.com/?lang=vi">
                            <img src="img/logos/SotaTek_logo.png" class="img-responsive img-centered" alt="" width="120">
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="https://www.fpt-software.com/">
                            <img src="img/logos/fsoft.jpg" class="img-responsive img-centered" width="200" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-6 hover13">
                        <a href="http://newwave.vn/">
                            <img src="img/logos/newwave_solution.png" width="300"class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>